---
layout: default
title: About
permalink: /about/
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ site.url }}"> <!-- Adicione o caminho correto para o seu arquivo de estilo CSS -->
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>
    <main>
        <section>
            <h2>Our Story</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac erat urna. Praesent auctor nisl ut libero ultrices, eget posuere risus consectetur.</p>
        </section>
        <section>
            <h2>Our Team</h2>
            <ul>
                <li>John Doe - CEO</li>
                <li>Jane Doe - COO</li>
                <li>John Smith - CTO</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>Contact us: info@example.com</p>
    </footer>
</body>
</html>
